* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
}

body {
  color: var(--purple);
  font-family: 'poppins', sans-serif;
  background-color: var(--body-bg-color);
  text-align: center;
}

a {
  color: var(--purple);
  font-weight: 600;
}

p {
  margin-bottom: 20px;
}

#social-box {
  margin-top: 30px;
  /*border: 1px solid red;*/
  max-width: 326px;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  &>div:nth-child(1) img {
    width: 400px;
  }
}

@media (max-width: 613px) {
  #social-box {
    flex-direction: column;
  }
}
